################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Common/Cdy.Spider.DevelopCommon/obj/Debug/netcoreapp3.1/Cdy.Spider.DevelopCommon.csprojAssemblyReference.cache
/Common/Cdy.Spider.DevelopCommon/obj/Debug/netcoreapp3.1/Cdy.Spider.DevelopCommon_MarkupCompile.i.lref
